<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/index.css' %}" />
    <title>Browser</title>
  </head>

  <body>
    <div class="card">
      <p>PLEASE connect a finger print sensor</p>

      {% comment %} <div hidden class="data_display">
        <h>firebase data</h>
        <p>channel name is {{channel_name}}</p>
        <p>channel type is {{channel_type}}</p>
        <p>channel sub is {{channel_sub}}</p>
      </div> {% endcomment %}
      <div class="auth_indicator card ">
        connection indication
        <button class="submit" onclick="window.location.href='{% url 'display' %}'">Proceed</button>

      </div>  
    <script>
      
    </script>
  </body>
</html>
